/*---------------------------------------------Styling for the Header----------------------------------------------------->*/
body{
    display: flex;
    flex-direction: column;
    background-color: #111111;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}
#buttonDiv{
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: center;
}
#headerDiv{
    display: block;
    width: 80%;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    border: 3px solid, white;
    color: antiquewhite;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.3);
}
#descriptionDiv{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: gray;
    border-width: 0px 0px 2px 0px;
    border-color: white;
    border-style: solid;
}
#headerText{
    letter-spacing: 3px;
    text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.7);
}
#backButton{
    width: 50cqmin;
    height: 50cqmin;
    border-radius: 300px;
    max-width: 60px;
    max-height: 60px;
    background-color: transparent;
    border: 3px solid aliceblue;
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}
#backImage{
    width:  100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
#backButton:hover{
    background-color: white;
    border: 3px solid #333333;
    color: black;
    transform: scale(1.05);
}

/*---------------------------------------------Styling for the lower buttons----------------------------------------------------->*/
.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 10px;
}
#startButton, #pauseButton, #resetButton, #stopButton{
    width: 10%;
    margin-left: clamp(2px, 1vw, 10px);
    padding: 8px;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    border-width: 0px;
    max-width: 150px;
}
#startButton{
    background-color: #9ff13cd8;
}
#startButton:hover{
    background-color: #94d742d8;
    transform: scale(1.1);
}
#pauseButton{
    background-color: #62c4ee;
}
#pauseButton:hover{
    background-color: #62b4d7;
    transform: scale(1.1);
}
#stopButton{
    background-color: #f6553c;
}
#stopButton:hover{
    background-color: #cd4c38;
    transform: scale(1.1);
}
#resetButton{
    background-color: #b082eb;
}
#resetButton:hover{
    background-color: #9f76d4;
    transform: scale(1.1);
}
#nInput, #minValue, #maxValue{
    min-width: 40px;
    max-width: 200px;
    margin-left: 5px;
}
.arrayInputLabel{
    color:white;
    margin-left: clamp(2px, 1vw, 5vw);
    font-size: large;
    text-wrap: nowrap;
}
#speedSlider{
    flex-grow: 1;
}

/*---------------------------------------------The Main Container div----------------------------------------------------->*/
.mainContent {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 205px);
    max-height: 100vh;
    flex-grow: 1;
}

.arrayContainer{
    flex: 1;
    min-height: calc(100vh - 205px);
}

/*---------------------------------------------Extra Info Styling----------------------------------------------------->*/
#extraInfoDiv{
    display: flex;
    flex-wrap: nowrap;
    margin-left: 5px;
    margin-right: 5px;
}
#spaceHolderDiv{
    flex-grow: 1;
}
#helpButton, #descriptionButton, #showCodeButton{
    max-width: 40px;
    max-height: 40px;
    margin-left: 10px;
    margin-top: 5px;
    background-color: transparent;
}
#hideHeaderButton{
    max-width: 40px;
    max-height: 20px; 
    background-color: transparent;
    border-width: 0px 1px 1px 1px;
    border-color: white;
    border-style: solid;  
}
#dropUpImage, #helpImage, #descriptionImage, #codeImage{
    width:  100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
}

