body{
    background-color: #111111;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}
#buttonDiv{
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: center;
}
#headerDiv{
    display: block;
    width: 80%;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    border: 3px solid, white;
    color: antiquewhite;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.3);
}
#descriptionDiv{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: gray;
    border-width: 0px 0px 2px 0px;
    border-color: white;
    border-style: solid;
}

#headerText{
    letter-spacing: 3px;
    text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.7);
}

#backButton{
    width: 50%;
    height: 50%;
    border-radius: 300px;
    background-color: transparent;
    border: 3px solid aliceblue;
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}

#backImage{
    width:  100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

#backButton:hover{
    background-color: white;
    border: 3px solid #333333;
    color: black;
    transform: scale(1.05);
}