/*---------------------------------------------Styling for the Header----------------------------------------------------->*/
* {
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #111111;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}
#buttonDiv{
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: center;
}
#headerDiv{
    display: block;
    width: 80%;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    border: 3px solid, white;
    color: antiquewhite;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.3);
}
#descriptionDiv{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: gray;
    border-width: 0px 0px 2px 0px;
    border-color: white;
    border-style: solid;
}
#headerText{
    letter-spacing: 3px;
    text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.7);
}
#backButton{
    width: 50cqmin;
    height: 50cqmin;
    border-radius: 300px;
    max-width: 60px;
    max-height: 60px;
    background-color: transparent;
    border: 3px solid aliceblue;
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}
#backImage{
    width:  100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
#backButton:hover{
    background-color: white;
    border: 3px solid #333333;
    color: black;
    transform: scale(1.05);
}

/*---------------------------------------------Styling for the lower buttons----------------------------------------------------->*/
.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 10px;
}
#startButton, #pauseButton, #resetButton, #stopButton, #generateButton{
    width: 10%;
    margin-left: clamp(2px, 1vw, 10px);
    padding: 8px;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    border-width: 0px;
    max-width: 150px;
}
#startButton{
    background-color: #9ff13cd8;
}
#startButton:hover{
    background-color: #94d742d8;
    transform: scale(1.1);
}
#pauseButton{
    background-color: #62c4ee;
}
#pauseButton:hover{
    background-color: #62b4d7;
    transform: scale(1.1);
}
#stopButton{
    background-color: #f6553c;
}
#stopButton:hover{
    background-color: #cd4c38;
    transform: scale(1.1);
}
#resetButton{
    background-color: #b082eb;
}
#resetButton:hover{
    background-color: #9f76d4;
    transform: scale(1.1);
}
#generateButton{
    background-color: #e8ee4c;
}
#generateButton:hover{
    background-color: #d1d344;
    transform: scale(1.1);
}
#nInput, #minValue, #maxValue{
    min-width: 40px;
    max-width: 200px;
    margin-left: 5px;
}
.arrayInputLabel{
    color:white;
    margin-left: clamp(2px, 1vw, 5vw);
    font-size: large;
    text-wrap: nowrap;
}
#speedSlider{
    flex-grow: 1;
}

/*---------------------------------------------The Main Container div----------------------------------------------------->*/
.mainContent {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 205px);
    max-height: 100vh;
    flex-grow: 1;
}

.arrayContainer{
    flex: 1;
    min-height: calc(100vh - 205px);
    display: flex;
    flex-direction: column;
}

/*---------------------------------------------Extra Info Styling----------------------------------------------------->*/
#extraInfoDiv{
    display: flex;
    flex-wrap: nowrap;
    margin-left: 5px;
    margin-right: 5px;
}
#spaceHolderDiv{
    flex-grow: 1;
}
#helpButton, #descriptionButton, #showCodeButton, #inputButton{
    max-width: 40px;
    max-height: 40px;
    margin-left: 10px;
    margin-top: 5px;
    background-color: transparent;
}
#hideHeaderButton{
    max-width: 40px;
    max-height: 20px; 
    background-color: transparent;
    border-width: 0px 1px 1px 1px;
    border-color: white;
    border-style: solid;  
}
#dropUpImage, #helpImage, #descriptionImage, #codeImage, #inputImage{
    width:  100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
}

/*---------------------------------------------The actual array rendering----------------------------------------------------->*/
#arrayShowcase{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: all 0.3s ease;
    gap: 0px;
    height: 92%;
    width: 100%;
    min-height: 400px;

}
.array-element {
    background: #ffffff;
    border-radius: 2px 2px 0 0;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: black;
    font-weight: bold;
    font-size: 14px;
}

/*---------------------------------------------The floating windows----------------------------------------------------->*/

#mainDescriptionWindow, #helpWindow, #codeWindow, #inputWindow{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 350px;
    border-radius: 20px;
    border: 3px solid white;
    position:absolute;
    z-index: 10;
    overflow: hidden;
}
#codeWindow{
    width: 400px; 
    height: 350px; /* Increased from 350px */
}

/*-The description window inner style-*/
#descriptionTopBar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a2e;
    border-color: white;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 25%;

}
#descriptionBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100% - 15%);
    flex-grow: 1;
    background-color: #16213e;
    border-radius: 0px 0px 20px 20px;
}

/*-The help window inner style-*/
#helpTopBar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #0f3460;;
    border-color: white;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 15%;
}
#helpBody{
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    padding: 5px;
    font-weight: bold;
    color:rgb(207, 213, 218);
    justify-content: center;
    align-items: center;
    height: calc(100% - 15%);
    background-color: #1e3a8a;
    border-radius: 0px 0px 20px 20px;
}

/*-The Code window inner style-*/
#codeTopBar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e2e;;
    border-color: white;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 15%;
}
#codeBody{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
    flex-grow: 1;
    height: calc(100% - 15%);
    background-color: #252526;;
    border-radius: 0px 0px 20px 20px;
}

/*-The input your own alg window inner style-*/
#inputTopBar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d3748;;
    border-color: white;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 15%;
}
#inputBody{
    width: 100%;
    flex-grow: 1;
    height: calc(100% - 15%);
    background-color:  #4a5568; ;
    border-radius: 0px 0px 20px 20px;
}

/*The Top window stuff*/
.topBarName{
    text-align: center;
    align-content: center;
    background-color: transparent;
    margin-left: 15px;
}
.closeButtonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    margin-left: 10px;
}
#closeHelp, #closeCode, #closeInput, #closeDescription{
    border-radius: 30px;
    width: 25px;
    height: 25px;
    background-color: black;
    border: 2px solid white;
    text-align: left;
    color: white;
}
#closeHelp:hover, #closeCode:hover, #closeInput:hover, #closeDescription:hover{
    background-color: rgb(52, 51, 51);
    transform: scale(1.5);
}
#descriptionName, #helpName, #inputName{
    border-radius: 10px;
    font-size: x-large;
    font-weight: bold;
    color: white;
    
}
#descriptionName{
    background-color: transparent;
}
#helpName{
    background-color: transparent;
}
#inputName{
    background-color: transparent;
}
.topBarButton{
    border-radius: 10px;
    height: 50%;
    width: 33%;
    margin-left: 10px;
    border: 2px solid white;
}
#pythonButton{
    background-color: rgb(156, 244, 97);
}
#jsButton{
    background-color: rgb(236, 101, 101);
}
#cppButton{
    background-color: rgb(226, 180, 101);
}

/*The actual bodies for the windows*/
#timeComplexity{
    display: inline-block;
    background-color: transparent;
    font-weight: bold;
    width: auto;
    height: 50px;
    color: greenyellow;

}
#spaceComplexity{
    display: inline-block;
    font-weight: bold;
    background-color: transparent;
    height: 50px;
    width: auto;
    color: red;
}
#fullDescription{
    width: auto;
    overflow: auto;
    color:white;
    background-color: transparent;
    margin: 0px 15px 10px 15px;

    &::-webkit-scrollbar { display: none; }
    -ms-overflow-style: none; 
    scrollbar-width: none;
}  
.helpImage{
    width: 100%;
    min-height: 30px;
}
#codeExampleImage {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #1e1e1e;
    padding: 10px;
}
#inputTitle{
    color: #1a1a2e;
    text-align: center;
    margin: 5px;
}
#arrayInput{
    margin-left: 5px;
    margin-top: 10px;
}
#successMessage{
    display: block;
    background-color: red;
    text-align: center;
    font-weight: bold;
    height: auto;
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #414a5b;
    color: #000000;
    text-wrap: wrap;
}

/*Array classes for styling*/
.array-element.comparing {
    background: #e74c3c;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(231, 76, 60, 0.5);
}

.array-element.swapping {
    background: #f39c12;
    transform: translateY(-10px);
}