body{                                                                                              /*The main background for the page*/
    background-color: rgb(189, 232, 245);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.top{
    background-color: rgb(6, 12, 58);
}
footer{
    background-color: rgb(6, 12, 58);
    margin-top: 0 auto;
    padding: 1px;
    text-align: left;
    margin-top: 1;
}
h1{                                                                                                /*The text inside of the the header div*/
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    letter-spacing: 1px;

}
header {                                                                                           /*The blue background for the header*/
    background-color: rgb(80, 88, 156);
    margin: 0 auto;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
    text-align: center;
    white-space: wrap;
}
.DescriptionDiv{                                                                                   /*The divs in the header*/
    display: block;
    margin: 0 auto;
    width: 80%;
}
.headerDiv{                                                                                        /*The main title div with the big text*/
    background-color: rgb(28, 77, 141);
    display: inline-block;
    width: 60%;
    height: auto;
    border: 5px solid;
    border-radius: 10px;
    border-color: rgb(15, 40, 84);
    text-align: center;
    margin: 0 auto;

    /*Shadow to make it look floaty*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7),
     8px 8px 20px rgba(0, 0, 0, 0.2);

     /*A animation to make it feel more 3d*/
     transform: translate(-10px);
     transition: transform 1s, ease, box-shadow 1s ease;
}
#Description{                                                                                      /*The Description under the main title*/
    white-space: wrap;
    line-height: 1.7;
    text-justify: inter-word;
    hyphens: auto;
    height: auto;
    color: white;
    font-weight: 200;
    font-size: large;
}
#buttonContainerDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
}
.button-container{                                                                                 /*The button to navigate to a given alg*/
    border: 5px solid rebeccapurple;
    flex: 1 1 250px;
    max-width: 300px;
    min-width: 200px;
    height: auto;
    display: inline-block;
    margin: 10px;
    padding: 0;
    background-color: rgb(73, 136, 196);
    border-radius: 10px;
    vertical-align: top;
    overflow: hidden;
    text-align: center;
}
.title-time-container{
    text-align: center;
    align-items: center;
    white-space: nowrap;
    box-sizing: border-box;
    background-color: rgb(80, 88, 156);
    margin: 0;
    border-bottom: 4px solid rgb(15, 40, 84);
}
.algTitle {                                                                                        /*The Title inside of the button*/
    display: inline-block;
    align-items: left; 
    justify-content: center; 
    font-size: x-large;
    font-weight: bold;
    color: aliceblue;
    margin: 0;
    width: auto;
    text-align: center;
    padding: 12px;
    border-right: 3px solid rgb(15, 40, 84);

}
.algTime{    
    display: inline-block;                                                                         /*Time Complexity of alg*/
    width: auto;
    padding: 12px;
    text-align: center;
    align-items: center; 
    justify-content: center; 
    font-size: large;
    font-weight: bold;
    color: aliceblue;
    box-sizing: border-box;

}
.algImage{                                                                                         /*The image representing the alg*/
    max-width: 300px;
    max-height: 250px;
    width:  100%;
    height: 100%;
    color: black;
    display: block;
}
.algDescription{                                                                                   /*Sort*/
    display: block;
    height: 15px;
}