body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
    text-decoration: solid;
    font-weight: bold;
}
.button-container{
    border: 5px solid rebeccapurple;
    color: red;
    width: auto;
    height: auto;
    display: inline-block;
    margin: 3px 3px 0px 3px;
    padding-left: 10px;
    background-color: transparent;
    border-radius: 10px;

}
.algTitle{
    display: block;
    height: 25;
}

.algImage{
    width: 200px;
    height: 200px;
    color: black;
    display: block;
}

.algTime{
    display: block;
    height: 10px;
}
.algDescription{
    display: block;
    height: 15px;
}
